body{
  font-family: Arial, sans-serif;
  text-align:center;
  background:#f4f6fa;
}

table{
  border-collapse:collapse;
  margin:20px auto;
}

td{
  width:28px;
  height:28px;
  border:1px solid #999;
  text-align:center;
  vertical-align:middle;
}

td.black{
  background:black;
}

#nonogram td{
  cursor:pointer;
}

/* Kakuro */

.k-black{
  background:black;
}

.k-clue{
  position:relative;
  background:black;
  color:white;
  font-size:10px;
}

.k-clue::after{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  background:linear-gradient(
    to bottom right,
    transparent 49%,
    white 50%,
    transparent 51%
  );
}

.clue-box{
  position:absolute;
  width:100%;
  height:100%;
}

.clue-down{
  position:absolute;
  bottom:2px;
  left:3px;
  font-size:9px;
}

.clue-right{
  position:absolute;
  top:2px;
  right:3px;
  font-size:9px;
}

input{
  width:100%;
  height:100%;
  border:none;
  text-align:center;
  font-size:14px;
}
