body {
  font-family: Arial;
  text-align: center;
  background: #f2f4f8;
}

table {
  margin: auto;
  border-collapse: collapse;
}

td {
  width: 24px;
  height: 24px;
  border: 1px solid #333;
}

.black {
  background: black;
}

input {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  font-size: 13px;
}

#timer {
  font-size: 20px;
  color: red;
  margin: 10px;
}
